*, :after, :before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

.page {
  display: flex;
  flex-direction: column;
}

.home {
  background: none; 
  background-color: transparent; 
}

.left {
  flex: 1;
  background-color: rgba(255, 255, 255, 0.9);
  margin-left: 0;
  transition: margin-left 0.5s ease, transform 0.5s ease;
}

.right {
  margin-left: 20px;
  padding: 50px;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  min-width: 650px;
  background-size: auto 100%;
  height: 85%;
  background-image: url('/images/background.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 1;
  z-index: 2;
  transition: opacity 0.5s ease;
}

@media (max-width: 1230px) {
  .right {
    opacity: 0.1;
  }
}

@media (max-width: 500px) {
  .left {
    margin-left: 0;
    transform: translateX(-10%); 
  }
}

.nav-container {
  background: none;
  border-radius: 50%;
  background-color: #c3bfbf;
  border: none; 
  display: flex; 
  align-items: center;
  justify-content: center; 
  position: fixed;
  right: 2rem;
  top: 1.5rem;
  width: 3.3rem;
  height: 3.3rem;
  z-index: 10;
}

#_nav-icon {
  max-width: 100%;
  max-height: 100%;
  align-items: center;
  justify-content: center; 
  object-fit: contain;
}

.dropdown-trigger {
  background: none; 
  border: none; 
  cursor: pointer; 
  display: flex;
  align-items: center; 
  justify-content: center; 
}

.dropdown-content {
  position: absolute;
  top: 60px;
  left: -75px;
  z-index: 10; 
}

.dropdown-content.show {
  opacity: 1;
  transform: translateY(0);
  visibility: visible;
}

.dropdown-content a {
  padding: 10px 15px;
  text-decoration: none;
  color: #333;
  border-radius: 8px;
  margin: 5px 0;
  transition: background-color 0.3s, color 0.3s;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ef9218;
  color: #fff;
}

.speech-bubble {
  display: flex;
  flex-direction: column;
  margin-right: 10rem;
  background-color: #fff; 
  border-radius: 10px; 
  padding: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2); 
}

/* Create the triangle */
.speech-bubble::after {
  content: '';
  position: absolute;
  bottom: 100%; 
  left: 103px; 
  margin-left: -5px; 
  border-width: 5px; 
  border-style: solid;
  border-color: transparent transparent #fff transparent;
}

.intro {
  margin-top: 10rem;
}

.heading-5 {
  font-size: .7rem;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.heading-4 {
  letter-spacing: 5px;
  text-transform: uppercase;
}

.name-container {
  display: flex;
  align-items: center;
  padding-top: 10px;
  background: none;
  background-color: transparent;
  
}

.name-container span {
  font-size: 4rem;
  text-transform: capitalize;
  font-family: Andale Mono, monospace;
  text-shadow: 0 15px 15px rgba(0, 0, 0, .16);
}

.paragraph {
  color: #756c6c;
}

.resume-button {
  padding: .8rem 3rem;
  border: none;
  border-radius: 10rem;
  background-color: #ef9218;
  font-family: Andale Mono, monospace;
  font-style: bold;
  font-size: .8rem;
  text-transform: uppercase;
  transition: background-color 0.3s ease-in-out;
  box-shadow: 0 15px 15px rgba(0, 0, 0, .16);
}

.resume-button:hover {
  background-color: #FFDB00;
}

.popup {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.resume-iframe {
  width: 90%;
  height: 90%;
  border: none;
}

.close {
  position: absolute;
  top: 20px;
  right: 30px;
  color: white;
  font-size: 30px;
  cursor: pointer;
}

.about-me {
  display: flex;
  justify-content: space-between;
  position: relative;
  overflow: hidden;
}

.about-me-p{
  display: flex;
  flex-direction: column;
  align-content: space-between;
  font-family: Andale Mono, monospace !important;
  z-index: 2;
  min-width: 16rem;
  max-width: 45rem;
}

.about-img {
  position: absolute;
  height: 100%;
  right: 0px;
  z-index: 1;
  background-size: auto 100%;
  height: 85%;
}

@media (max-width: 1342px) {
  .about-img {
    opacity: 0.1;;
    max-width: 90%;
  }
}

.primary-c {
  color: #ef9218;
}

.mt-s {
  margin-top: 1rem;
}

.mt-l {
  margin-top: 1rem;
}

.mt-ll {
  margin-top: 18rem;
}

.mb-s {
  margin-bottom: 1.3rem;
}

.mb-ss {
  margin-bottom: 9px;
}

.mb-l {
  margin-bottom: 3rem;
}

.ml-s {
  margin-left: 5rem;
}

.mr-s {
  margin-right: 5rem;
}

.mr-ss {
  margin-right: 2rem;
}

.font-s {
  font-size: .8rem;
}

.sec-color {
  color: #756c6c;
}