*, :after, :before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  scroll-behavior: smooth;
}

.page {
  display: flex;
  flex-direction: column;
}

.home {
  background: none; 
  background-color: transparent; 
}

.left {
  flex: 1;
  background-color: rgba(255, 255, 255, 0.9);
  margin-left: 0;
  transition: margin-left 0.5s ease, transform 0.5s ease;
}

.right {
  margin-left: 20px;
  padding: 50px;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  min-width: 650px;
  background-size: auto 100%;
  max-height: 600px;
  height: 85%;
  background-image: url('./images/background.png');
  background-position: center;
  background-repeat: no-repeat;
  opacity: 1;
  z-index: 2;
  transition: opacity 0.5s ease;
}

@media (max-width: 1171px) {
  .right {
    opacity: 0.1;
  }
}

@media (max-width: 500px) {
  .left {
    margin-left: 0;
    transform: translateX(-10%); 
  }
}

.nav-container {
  background: none;
  border-radius: 50%;
  background-color: #ef9218;
  border: none; 
  display: flex; 
  align-items: center;
  justify-content: center; 
  position: fixed;
  right: 2rem;
  top: 1.5rem;
  width: 3.3rem;
  height: 3.3rem;
  z-index: 10;
  transition: background-color 0.3s ease-in-out;
}

.nav-container:hover {
  background-color: #FFDB00;
}

#_nav-icon {
  max-width: 100%;
  max-height: 100%;
  align-items: center;
  justify-content: center; 
  object-fit: contain;
  transition: transform 0.3s ease, opacity 0.3s ease; /* Smooth transition */
}

.dropdown-trigger {
  background: none; 
  border: none; 
  cursor: pointer; 
  display: flex;
  align-items: center; 
  justify-content: center; 
}

.dropdown-trigger:hover #_nav-icon {
  transform: rotate(180deg); /* Example of rotation effect */
  opacity: 0.9; /* Example of opacity effect */
}

.dropdown-content {
  position: absolute;
  top: 60px;
  left: -75px;
  z-index: 10;
  opacity: 0;
  transform: translateY(-10px);
  visibility: hidden;
  transition: transform 0.3s ease-out, opacity 0.3s ease-out;
}

.dropdown-content.show {
  opacity: 1;
  transform: translateY(0);
  visibility: visible;
}

.dropdown-content a {
  padding: 10px 15px;
  text-decoration: none;
  color: #333;
  border-radius: 8px;
  margin: 5px 0;
  transition: background-color 0.3s, color 0.3s;
  display: block;
  opacity: 1;
}

.dropdown-content a:hover {
  background-color: #ef9218;
  color: #fff;
}

.speech-bubble {
  display: flex;
  flex-direction: column;
  margin-right: 10rem;
  background-color: #fff; 
  border-radius: 10px; 
  padding: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2); 
}

/* Create the triangle */
.speech-bubble::after {
  content: '';
  position: absolute;
  bottom: 100%; 
  left: 103px; 
  margin-left: -5px; 
  border-width: 5px; 
  border-style: solid;
  border-color: transparent transparent #fff transparent;
}

.intro {
  margin-top: 10rem;
}

.heading-5 {
  font-size: .7rem;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.heading-4 {
  letter-spacing: 5px;
  text-transform: uppercase;
}

.name-container {
  display: flex;
  align-items: center;
  padding-top: 10px;
  background: none;
  background-color: transparent;
  
}

.name-container span {
  font-size: 4rem;
  text-transform: capitalize;
  font-family: Andale Mono, monospace;
  text-shadow: 0 15px 15px rgba(0, 0, 0, .16);
}

.paragraph {
  color: #756c6c;
}

.resume-button {
  padding: .8rem 3rem;
  border: none;
  border-radius: 10rem;
  background-color: #ef9218;
  font-family: Andale Mono, monospace;
  font-style: bold;
  font-size: .8rem;
  text-transform: uppercase;
  transition: background-color 0.3s ease-in-out;
  box-shadow: 0 15px 15px rgba(0, 0, 0, .16);
}

.resume-button:hover {
  background-color: #FFDB00;
}

.popup {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  min-width: 100%;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.resume-iframe {
  width: 80%;
  height: 95%;
  border: none;
  scroll-behavior: smooth;
}

body.modal-open {
  overflow: hidden;
}

.close {
  position: absolute;
  top: 20px;
  right: 30px;
  color: white;
  font-size: 30px;
  cursor: pointer;
}

.about-me {
  display: flex;
  justify-content: space-between;
  position: relative;
  overflow: hidden;
  height: auto;
}

.about-me-p{
  display: flex;
  flex-direction: column;
  font-family: Andale Mono, monospace !important;
  z-index: 2;
  min-width: 16rem;
  max-width: 45rem;
}

.about-img {
  position: absolute;
  height: 100%;
  right: 3%;
  z-index: 1;
  background-size: auto 100%;
}

@media (max-width: 1200px) {
  .about-img {
    opacity: 0.1;
  }
}

.contact-main {
  display: flex;
  flex-direction: row;
  color: #756c6c;
  background-color: #f9f9f9;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  min-width: 20rem;
}

.contact-form {
  width: 55%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.contact-form input:focus, 
.contact-form textarea:focus {
  outline: none;
  border-color: #ef9218;
}

.contact-form div {
  display: flex;
  flex-direction: column;
}

.contact-form input {
  height: 23px;
}

.contact-form textarea {
  height: 150px;
  resize: none;
}

.submit-button {
  padding: 10px 10px;
  width: 80%;
  align-self: center;
  background-color: #ef9218;
  color: white;
  border: none;
  border-radius: 10rem;
  font-family: Andale Mono, monospace;
  text-transform: uppercase;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submit-button:hover {
  background-color: #FFDB00;
}

.popup-message {
  position: fixed;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -90%);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  background-color: #ef9218;
  color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.popup-content {
  position: relative;
  text-align: center;
}

.popup-close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 18px;
  cursor: pointer;
}

.popup-message p {
  margin: 0;
  font-size: 16px;
}

.social-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.social-links div {
  width: 44%; /* Ensures 2 items fit per row */
  text-align: center;
  margin-left: 20px;
}

.social-links img {
  height: 50px;
  width: 50px;
}

@media (max-width: 500px) {
  .social-links p {
    display: none;
  }
}

.project-main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border-radius: 12px;
  border-style: groove;
  border-color: #fcb69f;
  max-height: 450px;
  overflow-y: auto; /* Enable vertical scrolling */
  background: linear-gradient(62deg, #ffecd2, #fcb69f);
}

.project-main div {
  border-radius: 12px;
  border-style: inset;
  border-color: #fcb69f;
  margin: 15px;
  width: 250px;
  height: 350px;
  background: radial-gradient(#F7CE68, #FBAB7E);
}

.project-heading {
  font-family: Pirata One, sans-serif;
  font-size: 30px;
  text-wrap: wrap;
  text-decoration: underline;
  margin-top: 5px;
  text-align: center;
}

.primary-c {
  color: #ef9218;
}

.upper-c {
  text-transform: uppercase;
}

.mt-s {
  margin-top: 1rem;
}

.mt-l {
  margin-top: 2rem;
}

.mt-ll {
  margin-top: 18rem;
}

.mb-s {
  margin-bottom: 1.3rem;
}

.mb-ss {
  margin-bottom: 9px;
}

.mb-l {
  margin-bottom: 3rem;
}

.ml-s {
  margin-left: 5rem;
}

.ml-ss {
  margin-left: 3rem;
}

.mr-s {
  margin-right: 5rem;
}

.mr-ss {
  margin-right: 2rem;
}

.font-s {
  font-size: .8rem;
}

.sec-color {
  color: #756c6c;
}

.main-font {
  font-family: Andale Mono, monospace;
}